<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/addProduct.css">
    <title>Pixel E-Comerce</title>
</head>

<body>

    <!--  HEADER -->
    <%- include ("partials/header") %>
        <!--  HEADER -->

        <main>
            <form  method="POST" action="/product/edit/<%= producto.id %>?_method=PUT" enctype="multipart/form-data"> <!-- se añade query string para PUT y enctype para imagenes-->
                <div class="caja-padre">
                    <div class="añadir-producto">
                        <h2>Estás editando el producto <%= producto.id %> </h2>
                    </div>

                    <div>
                        <input type="text" name="titulo" placeholder="Nombre del producto" value=<%= producto.titulo %> >
                    </div>

                    <div>
                        <input type="text" name="descripcionCorta" placeholder="Descripcion breve" id="description" value=<%= producto.descripcionCorta %> >
                    </div>

                    <div>
                        <textarea class= "large-description" name="descripcionDetallada" placeholder="Descripcion extensa" id="large-description"  > <%= producto.descripcionDetallada %></textarea>
                    </div>


                    <h4 class="aclaracion">Imagen del producto</h4>
                    <div class="file-select">
                        <input type="file" name="image" accept=".png, .jpg">
                    </div>


                    <div>
                        <select class="category" name="categoria" id="category" value= <%= producto.categoria %> >
                            <option value="PC">PC</option>
                            <option value="notebook">Notebook</option>
                            <option value="Monitores">Monitores</option>
                            <option value="Teclados">Teclados</option>
                            <option value="Mouse">Mouse</option>
                        </select>
                    </div>

                    <div>
                        <input type="number" name="precio" placeholder="Precio" value=<%=producto.precio %> >
                    </div>

                    <div>
                        <input type="number" name="descuento" placeholder="Descuento" value=<%= producto.descuento %>>
                    </div>

                    <div class="botonera">
                        <div>
                            <button class="agregar" type="submit">Editar</button>
                        </div>
                        <div>
                            <button class="borrar" type="reset">Borrar datos</button>
                        </div>
                    </div>

                </div>

            </form>
        </main>

        <!-- WHATSAPP -->
        <%- include('./partials/whatsapp'); %>

            <!-- FOOTER -->
            <%- include('./partials/footer'); %>



</body>